<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="App">
        <div class="Content">
            <h1 class="Title">Online TicTacToe</h1>
            <p class="SubTitle">
                Play TicTacToe online!
            </p>
            <div class="ButtonSelecter">
                <div class="SelectRoomButton" onclick="joinRoom()" >
                    <h1>Join a room </h1>
                </div>
                <div class="SelectRoomButton" onclick="createRoom()" >
                    <h1>Create a room</h1>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/main.js"></script>
</body>
</html>